<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Dashboard</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body">
					<div class="container text-center">
						<img style="height: 200px; width: 200px;" class="my_profile"
							th:src="@{'/images/contactLogo.jpg'}" />
					</div>
					<h1 class="text-center">Start Adding your contact</h1>
					<a th:href="@{/user/addContact}"
						class="btn btn-primary mt-4 btn-block text-uppercase">Add New
						Contact</a>
				</div>
				<hr>
				<h3 class="my-2">Donate Us</h3>
				<input type="number" class="form-control my-2"
					placeholder="Enter Amount here..." id="amount" name="amount">
				<div class="mt-4 d-grid text-center">
					<button onclick="paymentStart()"
						class="btn btn-outline-success text-uppercase">Pay</button>
				</div>
			</div>
		</div>
		</div>
		<script>
	$(document).ready(()=>{
		$(".item").removeClass("active");
		$("#home").addClass("active"); 
	});
		
	</script>
	</section>

</body>
</html>