<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title>Login Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card card-container">
				<img id="profile-img" class="profile-img-card"
					src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
				<p id="profile-name" class="profile-name-card"></p>
				<h5 class="text-center m-3">Your Registered Email</h5>
				<div th:if="${session.message}"
					 class="alert alert-danger my-2 text-center" role="alert">
					<p class="text-center" th:text="${session.message}"></p>
					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<form class="form-signin" th:action="@{/send-otp}" method="post">
					<div class="form-group">
						<input type="email" id="email" class="form-control mt-2"
							name="email" placeholder="Email address" required autofocus>
					</div>

					<button class="btn btn-lg btn-primary btn-block btn-signin mt-5"
						type="submit" name="submit">Send OTP</button>
				</form>

			</div>
		</div>
	</section>
</body>
</html>